@import "~bootstrap/scss/bootstrap.scss";

body {
  background-image: url("https://t3.ftcdn.net/jpg/02/90/29/94/240_F_290299466_TzsmyMhPZ3zgNbSMEjmmFuMgLTRyhlB0.jpg");

  // Set a specific height
  min-height: 500px;

  //   Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: white;
}
/* 
    body{
        background: #BDBDBD;
    }
    
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
